email=devopstrainingblr@gmail.com
always-auth=true
#_auth=YYWRtaW46ZGV2b3Bz
#registry.npmjs.org/:_auth=YWRtaW46cGFzc3dvcmQ=
registry=http://3.108.55.184:8081/repository/pcriskguide-artifacts/
allowRepublish=true
//3.108.55.184:8081/repository/pcriskguide-artifacts/:_authToken=YWRtaW46cGFzc3dvcmQ=
